<html>
  <head>
    <title>Chat app</title>
  </head>
  <style>
    #container {
      width: 700px;
      margin: 0 auto;
    }
    .chat-input {
      width: 300px;
      height: 35px;
      border: solid 1px #444;
    }
    .chat-submit {
      width: 50px;
      height: 35px;
      border: solid 1px #444;
    }
    .chat-window {
      height: 300px;
      width: 400px;
    }
    #chatSection {
      float: left;
      border: 1px grey solid;
      border-radius: 10px;
      padding: 10px;
    }
  </style>
  <body>
    <div id="container">
    <h1 id="room">Clément est bourré</h1>
      <div id="chatSection">
        <div class="chat-window">

        </div>
        <form class="chat-form">
          <label class="chat-label">
            Enter a message:
            <input type="text" class="chat-input" />
          </label>
          <input type="submit" class="chat-submit" value="enter" />
        </form>
        <button onclick="changeRoom('room1')">Clément est bourré</button>
        <button onclick="changeRoom('room2')">Anis glande</button>
        <button onclick="changeRoom('room3')">Théo harcèle sexuellement ses camarades</button>
      </div>
    </div>


    <script src="socket.io/socket.io.js"></script>

    <script>

      var socket = io();
      socket.emit('create', "room1");

      const chat = document.querySelector('.chat-form')
      const Input = document.querySelector('.chat-input')
      let currRoom = 'room1'
      const roomsName = {
        'room1': "Clément est bourré",
        'room2': "Anis glande",
        'room3': "Théo harcèle sexuellement ses camarades"
      }

      const roomsContainer = {
        'room1': "",
        'room2': "",
        'room3': ""
      }

      chat.addEventListener('submit', event => {
         event.preventDefault()
         socket.emit('chat', {message: Input.value, token: getCookie('token'), room: currRoom})
          Input.value = ''
      })

      socket.on('chat', message => {
        console.log('From server: ', message)
      })
      const chatWindow = document.querySelector('.chat-window')

      const renderMessage = message => {
      const div = document.createElement('div')
      div.classList.add('render-message')
      div.innerText = message
      chatWindow.appendChild(div)
      if (chatWindow.childElementCount === 14) {
        chatWindow.removeChild(chatWindow.getElementsByTagName('div')[0])
      }}

      socket.on('chat', message => {
        // make sure to modify this
        renderMessage(message)
      })

      function getCookie(name) {
        const value = `; ${document.cookie}`;
        const parts = value.split(`; ${name}=`);
        if (parts.length === 2) return parts.pop().split(';').shift();
      }

      function changeRoom(room) {
        const title = document.getElementById('room')
        title.innerText = roomsName[room]
        roomsContainer[currRoom] = chatWindow.innerHTML
        currRoom = room
        chatWindow.innerHTML = roomsContainer[currRoom]
        socket.emit('leave', room)
        socket.emit('create', room);
      }
    </script>
 
  </body>
</html>