<html>
  <head>
    <title>Chat app</title>
  </head>
  <style>
    #container {
      width: 700px;
      margin: 0 auto;
    }
    .chat-input {
      width: 300px;
      height: 35px;
      border: solid 1px #444;
    }
    .chat-submit {
      width: 50px;
      height: 35px;
      border: solid 1px #444;
    }
    .chat-window {
      height: 300px;
      width: 400px;
    }
    #chatSection {
      float: left;
      border: 1px grey solid;
      border-radius: 10px;
      padding: 10px;
    }
  </style>
  <body>
    <div id="container">
    
      <div id="chatSection">
        <div class="chat-window">

        </div>
        <form class="chat-form">
          <label class="chat-label">
            Enter a message:
            <input type="text" class="chat-input" />
          </label>
          <input type="submit" class="chat-submit" value="enter" />
        </form>
      </div>
    </div>


    <script src="socket.io/socket.io.js"></script>

    <script>

      var socket = io();

      const chat = document.querySelector('.chat-form')
      const Input = document.querySelector('.chat-input')

      chat.addEventListener('submit', event => {
         event.preventDefault()
         socket.emit('chat', {message: Input.value, token: getCookie('token')})
          Input.value = ''
      })
      socket.on('chat', message => {
        console.log('From server: ', message)
      })
      const chatWindow = document.querySelector('.chat-window')

      const renderMessage = message => {
      const div = document.createElement('div')
      div.classList.add('render-message')
      div.innerText = message
      chatWindow.appendChild(div)
      if (chatWindow.childElementCount === 14) {
        chatWindow.removeChild(chatWindow.getElementsByTagName('div')[0])
      }}

      socket.on('chat', message => {
        // make sure to modify this
        renderMessage(message)
      })

      function getCookie(name) {
        const value = `; ${document.cookie}`;
        const parts = value.split(`; ${name}=`);
        if (parts.length === 2) return parts.pop().split(';').shift();
      }
    </script>
 
  </body>
</html>